/* ---------CONTACTO-----------*/
#h2-contact {
    margin-top: 5%;
    margin-left: 35%;
    margin-bottom: 2.5%;
    color: $rosa_fuerte;
}

.mapa-redes {
    padding-bottom: 1%;
    height: 375px;
    .mapa {
        height: 375px;
        #mapa {
            width: 100%;
            height: 100%;
        }
    }
}

#redes {
    line-height: 3rem;
}

#contacto p {
    display: block;
    height: auto;
    line-height: 1.5rem;
    margin-top: 10%;
}

/*Contact Form*/
#contact_form {
    @include sizes (100%, auto);
    margin: 8% 0 8% 25%;
}

#contact_form label {
    display:block;
    margin-top: 3%;
}
#contact_form input{
    margin-top: 1%;
    font-family: 'Montserrat', sans-serif;
    width: 35%;
    color: rgb(80, 80, 80);
}
#contact_form textarea {
    margin-top: 1%;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    color: rgb(80, 80, 80);
}
#contact_form button {
    display: block;
    margin-left: 0;
    margin-top: 1%;
}

/*-------MEDIA QUERIES SM-------*/
@media screen and (max-width: 576px) {
    #h2-contact {
        margin-left: 0;
    }

    .mapa-redes {
        padding-bottom: 1%;
        height: 250px;
        .mapa {
            height: 248px;
            #mapa {
                width: 100%;
                height: 100%;
            }
        }
        .redes {
            width: 100%;        
            .bi {
                margin-bottom: -5%;
            }
        }
    }

    #contact_form {
        margin-top: 40%;
        margin: 40% 0 10% 0;      
    }

}
    