#galeria {
    margin-bottom: 10%;
    margin-top: 4%;
        .galeria {
            margin-bottom: 2.5%;
        }
}

/* MEDIA QUERIES SM*/
@media screen and (max-width: 576px) {
    #galeria {
        margin: 0;
            .col-3.galeria {
                width: 70%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
       }
    
}