/* ----------INDEX------------ */
.hero {
    .container-p {
        line-height: 4rem;
        align-items: center; 
        font-size: 1.2rem;
        padding-left: 15%;
        
    }

    .container-img {
        position: relative;
        overflow: hidden;
        @include sizes (300px, 486px);
        .inst {
            position: absolute;
            @include sizes (98%, 98%);
            box-shadow: 0.1rem 0.1rem 0.6rem black;
            border-radius: 1%;
        }
    }
    
    .imagen-hero {
        padding-left: 9%;
    }
}

    #carousel {
        padding-top: 6.5%;
        padding-bottom: 4%;
        .carousel-item {
            justify-content: space-evenly;
        }
        .carousel-img {
            width: 32%;
            display: inline-block;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            background-color: $rosa_oscuro;
            border-radius: 50%;
        }
    }



.carrusel-md-sm {
    @include sizes (80%, 80%);
    margin: 3% 0 10% 0;
    display: flex;
    display: none;
    .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: $rosa_oscuro;
        border-radius: 50%;
    }
}

// MEDIA QUERIES MD

@media screen and (max-width: 770px) {
    .carrusel-md-sm {
        display: inherit;
    }
    #carousel {
        display: none;
    }
}

/* MEDIA QUERIES SM*/
@media screen and (max-width: 576px) {
    .hero {
        position: relative;
        overflow: hidden;
        .instagram {
            padding-left: 0;
            .container-img {
                @include sizes (120%, 450px);
                margin-top: 1%;
                margin-bottom: 20%;
            }
        }
        .container-img-hero {
            @include sizes (130%, 350px);
            margin-left: -15%;
        }
        .container-p {
            font-size: 0.85rem;
            line-height: 180%;
            color: $negro;
            letter-spacing: 0.03rem;
            padding-left: 0;
            #aboutus {
                width: 200%;
                font-size: 0.7rem;
                line-height: 180%;
            }
        }

    }
    
    #carousel {
        padding: 0;
        margin: 0;
        margin-top: 5%;
       .carousel-img {
            width: 32%;
            margin: 0 0.1% 10% 0.44%;
        }
    }
}