/* media queries para tablet */
@media screen and (min-width: 766px) and (max-width: 1020px) {
    
    /* INDEX */
    .titulo {
        font-size: 2.5rem;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    .nav-link {
        font-size: 1rem;
        padding: 8%;
        letter-spacing: 0.05rem;
    }
    
    .header #banner {
        max-height: 180px;
    }

    h2 {
        font-size: 1.75rem;
        margin-left: 0;
    }

    .aboutus{
        line-height: 3rem;
        font-size: 1rem;    
    }

    p #event {
        line-height: 10rem;
        font-size: 5rem;
    }
        
    .inst {
        width: 100%;
        max-height: 410px;
        min-height: 70%;
        display: flex;
    }
  
    #event {
        line-height: 10%;
        font-size: 0.7rem;
    }
    
    .carousel-img {
        width: 30%;
        display: inline-block;
        margin: 3% 1% 5% 1%;
    }

    #footer-top {
        height: 50%;
        margin: 0%;
    }

    .footer {
        font-size: 0.35rem;
        margin: 0.8%;
    }

    .nav-item-footer {
        padding: 0;
        margin-right: 1%;
    }

    .nav-link.active {
        padding: 0%;     
    }

   /* DISEÑOS */
   .titulos-sec {
    font-size: 1.6rem;
    margin-top: 5%;
   }

   .back {
    font-size: 1rem;
    
   }

   #galeria {
    margin: 0;
   }

   .col-3.galeria {
    width: 52%;
    margin-top: 5%;
    margin-bottom: 5%;
   }

   
} 