/* ----------PEDIDOS----------- */

.order-hero {
    margin: 3% 10% 8% 11%;
    .h2-order {
        margin-left: 0;
        font-size: 1.3rem;
        color: $rosa_fuerte;
        font-weight: bold;
    }
    .p-order {
        margin: 5% 0 1% 0;
    }
    #comentario {
        @include sizes (80%, 40%);
        margin-bottom: 15%;
    }
    .nota {
        line-height: 0.4rem;
        margin: 4% 0 4% 0;
        font-weight: bold;
    }

    .boton-orden {
        flex-direction: row;
        justify-content: center;
        .btn-order {
            color: $rosa_fuerte;
            border: $rosa_fuerte 1px solid;
        }
    }


    .btn-order:hover {
    background-color: $rosa_fuerte;
    color: black;
    border: 1px solid black;
    }    
}

/* MEDIA QUERIES SM*/
@media screen and (max-width: 576px) {
    .order-hero {
        margin: 5% 0 5% 0.1%;
        font-size: 0.9rem;
        .h2-order {
            font-size: 1.2rem;
            margin-left: -1%;
        }
        #comentario {
            @include sizes (100%, 30%);
            margin-bottom: 20%;
        }
        .nota {
            line-height: 1rem;
        }
    }
}
