// paleta de colores 
$rosa_pastel: #FFE0DE;
$rosa_fuerte: #D96A7E;
$rosa_oscuro: #BF5E70;
$celeste_pastel: #DEE6FF;
$celeste_btb: #95BFB0;
$verde: #557365;
$negro: #0D0D0D;
$blanco: #FFFDFD;
$crema: #E6E3B8;
