/* ----------PRODUCTOS----------*/

.section-product {
    margin-bottom: 8%;
    .col.d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card {
            border-radius: 4%;
            box-shadow: 0 0.1rem 0.6rem black;
            border: none;
            margin: 5% 0 5% 0;
            width: 400px;
            margin-bottom: 1%;
                .card-img-overlay {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: $blanco;
                    .card-title {
                        margin: 0;
                        text-shadow: 0.1rem 0.1rem 0.4rem black;
                        font-weight: bold;
                    }
                }
                .card-img-top {
                    border-radius: 4%;
                }
        }
    }
    .modal-dialog {
        margin-top: 0.5%;
        .modal-title {
            font-weight: bolder;
            color: $celeste_btb;
        }
        .modal-footer {
            justify-content: center;
            .modal-button {
                background-color: $rosa_oscuro;
                border: none;
            }
        }
    }
}


    /* Sección search */
.navbar-search {
    width: 80%;
    margin-left: 9%;
        #navbarSupportedContentSearch {
            background-color: $blanco;
                .navbar-nav-search {
                    list-style: none;
                        .nav-item-search .nav-link-search {
                            color:#4e4e4e;
                            text-decoration: none;
                            font-size: 1.1rem;
                        }
                }
        }
            .btn-search {
                color:$celeste_btb;
                border-color: $celeste_btb;
                    .btn-search:hover {
                        background-color: $celeste_btb;
                    }
                }
}    



/* ----MEDIA QUERIES SM----*/
@media screen and (max-width: 576px) {
    .navbar-search {
        display: inline;
            #navbarSupportedContentSearch {
                display: inline;
                    .navbar-nav-search {
                        display: inline;
                            .nav-item-search .nav-link-search {
                                font-size: 0.5rem;
                            }
                    }
            }
                .btn-search {
                    @include sizes (50px, 20px);
                    position: relative;
                    font-size: 12.5px;
                    padding-left: 3px;
                    padding-bottom: 22px;
                }
    }    

    /* No logré sacar el espacio superior entre el h2 y el nav search*/
    .col.d-flex {
        .card {
            box-shadow: 0.2rem 0.1rem 0.8em $celeste_btb;
            max-width: 250px;
        }
        .modal-dialog {
            margin-top: 20%;
        }
    }    
    
    /* Sección search */
    .navbar-search {
        width: 80%;
        margin-left: 9%;
            #navbarSupportedContentSearch {
                background-color: $blanco;
                    .navbar-nav-search {
                        list-style: none;
                            .nav-item-search .nav-link-search {
                                color:#4e4e4e;
                                text-decoration: none;
                                font-size: 1.1rem;
                            }
                    }
            }
            .btn-search {
                color:$celeste_btb;
                border-color: $celeste_btb;
                    .btn-search:hover {
                        background-color: $celeste_btb;
                    }
            }
    }  
    
}